@import "reset";

html,body{
	overflow-x: hidden;
	background-color: #EFF2F8;
}

.v-box{
	width: 100%;
	margin: 0 auto 20px;
	text-align: center;
	background-color: #fff;
	box-sizing: border-box;
	*{
		box-sizing: border-box;
	}
	.thead{
		background-color: #EFF2F9;
	}
	th,td{
		width: 20%;
		border-left: 1px solid #dadfea;
		border-bottom: 1px solid #dadfea;
		padding: 6px;
	}
	thead > tr:first-child > th{
		border-top: 1px solid #dadfea;
	}
}
#v-box .mt10{
	margin-bottom: 10px;
}
.v-echarts{
	height: 400px;
}
.v-time{
	padding: 10px;
	display: block;
}
.v-explain{
	padding-bottom: 10px;
	line-height: 24px;
	text-indent: 10px;
}