<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
	<title>bizdata-dashboard</title>
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
	<link rel="shortcut icon" type="image/ico" href="http://api.test.amol.com.cn/favicon.ico" />
	<link href="http://api.test.amol.com.cn/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
	<script type="text/javascript" src="assets/js/common.js"></script>
</head>
<body>
<!--Portal昨日数据统计-->
	<article v-cloak id="v-box">
		<time class="v-time">当前时间: {{now | format_time}}</time>

		<table border="0" cellspacing="0" cellpadding="0" class="v-box">
			<thead>
				<tr><th colspan="5">Portal小时数据统计</th></tr>
				<tr>
					<th></th>
					<th>火车</th>
					<th>大巴</th>
					<th>一体机</th>
					<th>总计</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in today_all">
					<td v-text="item.type"></td>
					<td v-text="item.trainUser"></td>
					<td v-text="item.busUser"></td>
					<td v-text="item.ytjUser"></td>
					<td v-text="item.trainUser+item.ytjUser+item.busUser"></td>
				</tr>
			</tbody>
		</table>

		<div id="v-echarts" class="v-echarts"></div>

		<table border="0" cellspacing="0" cellpadding="0" class="v-box mt10">
			<thead>
			<tr><th colspan="5">Portal昨日数据统计</th></tr>
			<tr>
				<th></th>
				<th>火车</th>
				<th>大巴</th>
				<th>一体机</th>
				<th>总计</th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="item in yesterday_all">
				<td v-text="item.type"></td>
				<td>{{item.trainUser|number}}</td>
				<td>{{item.busUser|number}}</td>
				<td>{{item.ytjUser|number}}</td>
				<td>{{item.trainUser+item.ytjUser+item.busUser|number}}</td>
			</tr>
			</tbody>
		</table>

		<table border="0" cellspacing="0" cellpadding="0" class="v-box mt10">
			<thead>
				<tr><th colspan="5">设备安装统计</th></tr>
				<tr>
					<th></th>
					<th>火车</th>
					<th>大巴</th>
					<th>一体机</th>
					<th>总计</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in device_all">
					<td v-text="item.type"></td>
					<td v-text="item.trainUser"></td>
					<td v-text="item.busUser"></td>
					<td v-text="item.ytjUser"></td>
					<td v-text="item.trainUser+item.ytjUser+item.busUser"></td>
				</tr>
			</tbody>
		</table>
		<table border="0" cellspacing="0" cellpadding="0" class="v-box mt10">
			<thead>
				<tr><th colspan="5">往返应用统计表</th></tr>
				<tr>
					<th></th>
					<th>新增用户</th>
					<th>活跃用户</th>
					<th>用户总数</th>
					<th>使用时长</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="items in user_all">
					<td v-text="items.date"></td>
					<td>{{items.new|number}}</td>
					<td>{{items.active|number}}</td>
					<td>{{items.total|number}}</td>
					<td>{{items.duration|minute}}</td>
				</tr>
				<tr>
					<td>增幅</td>
					<td>{{newAmp}}</td>
					<td>{{activeAmp}}</td>
					<td>{{totalAmp}}</td>
					<td>{{durationAmp}}</td>
				</tr>
			</tbody>
		</table>

		<footer class="v-explain">
			<p>实际用户　: 已看见自弹页的用户</p>
			<p>已连接用户: 已经进入首页的用户</p>
			<p>活跃用户　: 已有用户行为的用户</p>
			<p>设备活跃数: 今天有用户连接的设备数量</p>
			<p>设备在线数: 今天有上电联网的设备数量</p>
			<p>设备安装数: 截至今天已安装的设备数量</p>
		</footer>
	</article>

	<script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>